.container {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.container input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.container textarea {
  height: 150px;
}

.container select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.container button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
